<style>
  #profilediv {
    margin: 20px;
    padding: 20px;
    max-width: 650px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }

  #profilediv h3 {
    text-align: center;
  }

  #profilediv td {
    padding: 12px;
  }

  #navdiv {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
  }

  #navdiv a {
    margin: 5px 0;
  }

  #navdiv button {
    flex: 1;
    min-width: auto;
  }

  #mmdiv {
    background-color: antiquewhite;
    margin: 40px;
    border-radius: 10px;
    padding-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 1px solid #000;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
  }

  @media (max-width: 768px) {
    #mmdiv {
      margin: 20px auto;
      width: 95%;
    }
    #profilediv {
      padding: 10px;
      width: 100%;
    }
    #navdiv {
      flex-direction: column;
    }
    #navdiv button {
      margin: 5px 0;
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    #profilediv {
      padding: 10px;
    }

    #navdiv button {
      min-width: 100px;
    }

    table,
    th,
    td {
      font-size: 14px;
    }
  }
</style>

<% layout('layouts/boilerplate')%>
<div id="mmdiv">
  <div id="mdiv">
    <div id="navdiv">
      <a href="/profileDetails"
        ><button class="btn btn-primary">Profile Details</button></a
      >
      <a href="/bank"><button class="btn btn-primary">Bank Details</button></a>
      <a href="/kyc"><button class="btn btn-primary">KYC Details</button></a>
      <a href="/letterHead"
        ><button class="btn btn-primary">Letter head</button></a
      >
      <a href="/certificate"
        ><button class="btn btn-primary">Certificate</button></a
      >
      <a href="/businessCard"
        ><button class="btn btn-primary">Business Card</button></a
      >
      <a href="/idCard"><button class="btn btn-primary">ID Card</button></a>
      <a href="/myBizCard"><button class="btn btn-primary">Biz Card</button></a>
    </div>
  </div>
  <hr />
  <div id="profilediv">
    <h3>Profile Details</h3>
    <table class="table table-primary table-bordered border-primary">
      <tbody>
        <tr>
          <td style="width: 150px">Role</td>
          <td><%=user.role%></td>
        </tr>
        <tr>
          <td>Name</td>
          <td><%=user.name%></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%=user.email%></td>
        </tr>
        <tr>
          <td>Mobile</td>
          <td><%=user.mobile%></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%=user.address%></td>
        </tr>
        <tr>
          <td>Wallet</td>
          <td><b>&#8377; <%=user.wallet%></b></td>
        </tr>
        <% if(user.distributorId){%>
        <tr>
          <td>Distributor</td>
          <td><%=user.distributorId%></td>
        </tr>
        <%}%> <% if(user.subDistributorId){%>
        <tr>
          <td>Sub Distributor</td>
          <td><%=user.subDistributorId%></td>
        </tr>
        <%}%>
        <tr>
          <td>Join Date</td>
          <td><%=user.date.slice(0,10)%></td>
        </tr>
        <tr>
          <td>Expire Date</td>
          <td><%=user.expire.slice(0,10)%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
