<style>
  #all {
    margin: 40px 20px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
  }

  th,
  td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
  }

  thead {
    background-color: #cfe2ff;
  }

  @media (max-width: 768px) {
    #all {
      margin: 10px;
      padding: 10px;
    }
    th,
    td {
      padding: 5px;
      font-size: 7px;
    }
  }
</style>
<% layout('layouts/boilerplate')%>
<div id="all">
  <h3 style="text-align: center">All Your Distributors</h3>
  <table id="accountingtb" class="table table-bordered border-primary">
    <thead class="table-primary">
      <tr>
        <th scope="col">SlNo.</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">Wallet</th>
      </tr>
    </thead>
    <tbody>
      <% let i=0; for(let a of allDistributors){ i=i+1%>
      <tr>
        <td><b><%=i%></b></td>
        <td><%=a.name%></td>
        <td><%=a.email%></td>
        <td><%=a.mobile%></td>
        <td><%=a.wallet%></td>
      </tr>
      <%}%>
    </tbody>
  </table>
</div>
