<style>
  #accountingdiv {
    margin: 30px;
    padding: 10px 30px 10px 30px;
    background-color: aliceblue;
  }
  #accountingtb {
    text-align: center;
    vertical-align: middle;
  }
  #accountingtb th {
    width: 25px;
    padding: 20px;
  }
  #accountingtb td {
    padding: 20px;
  }
  #accountingdiv h3 {
    text-align: center;
    padding: 5px;
  }
  .fa-folder-open {
    font-size: 32px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: left;
  }
  .close {
    color: #aaa;
    position: absolute;
    left: 560px;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal h5 {
    margin-top: 40px;
    margin-left: 10px;
  }
  #copyshare {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  #copyshare button {
    margin-left: 20px;
    margin-right: 20px;
  }
  #addform {
    text-align: center;
  }
  #addbtn {
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    width: 300px;
  }
</style>
<% layout('layouts/boilerplate')%>
<div id="accountingdiv">
  <h3>E-WAY PRODUCT LIST</h3>
  <table id="accountingtb" class="table table-bordered border-primary">
    <thead class="table-primary">
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">QUANTITY</th>
        <th scope="col">REQUIRED DOCUMENTS</th>
        <th scope="col">PRICE</th>
        <th scope="col">ACTION</th>
        <% if (user.role=="admin" ){ %>
        <th scope="col">DELETE</th>
        <%}%>
      </tr>
    </thead>
    <tbody>
      <%for(let acc of eway){%>
      <tr>
        <td class="nameClass" id="nbtn<%=acc._id%>"><%=acc.name%></td>
        <td><b><%=acc.quantity%></b></td>
        <td>
          <%if(acc.documents!=0){%>
          <button
            type="button"
            class="docbtn btn btn-primary"
            id="acc<%=acc._id%>"
          >
            <i class="fa-solid fa-folder-open"></i>
          </button>
          <div id="modacc<%=acc._id%>" class="modal">
            <div class="modal-content">
              <span class="close" id="closeacc<%=acc._id%>">&times;</span>
              <h5><b><%=acc.name%></b></h5>
              <div id="docacc<%=acc._id%>" class="docclass">
                <ol>
                  <%for(let doc of acc.documents){%>
                  <li><%=doc%></li>
                  <%}%>
                </ol>
              </div>
              <div id="copyshare">
                <button
                  type="button"
                  class="copyclass btn btn-primary"
                  id="copyacc<%=acc._id%>"
                >
                  <b> Copy</b>
                </button>
                <div class="dropdown">
                  <button
                    class="btn btn-primary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <b>Share</b>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        class="dropdown-item"
                        href="https://wa.me/"
                        target="_blank"
                        ><i class="fa-brands fa-whatsapp"></i> Whatsapp
                      </a>
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="https://mail.google.com/mail/u/0/#inbox?compose=new"
                        target="_blank"
                        ><i class="fa-regular fa-envelope"></i> Gmail
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <%}%>
        </td>
        <td class="priceClass" id="pbtn<%=acc._id%>">
          <form action="/editprice/<%=acc._id%>/eway" method="POST">
            <b>&#8377;</b> <input name="uprice" type="text" style="width:100px"
            <% if (user.role=="retailer") { %> disabled style="border: none;
            color:black; width: 60px;" <% } %> value="<%=acc.price%>"
            class="fw-bold" > <% if (user.role=="admin" ||
            user.role=="distributor"|| user.role=="subdistributor"){ %>
            <button
              type="submit"
              class="editbtn btn btn-primary"
              id="editbtn<%=acc._id%>"
            >
              Edit
            </button>
            <%}%>
          </form>
        </td>
        <td>
          <button
            type="button"
            class="cartbtn btn btn-primary"
            id="btn<%=acc._id%>"
          >
            <i class="fa-solid fa-cart-shopping"> </i> Add to Cart
          </button>
        </td>
        <% if (user.role=="admin" ){ %>
        <td>
          <form action="/delete/<%=acc._id%>/eway" method="post">
            <button type="submit" class="btn btn-danger">
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
        </td>
        <%}%>
      </tr>
      <%}%>
    </tbody>
  </table>
  <% if (user.role=="admin" ){ %>
  <form action="/addservices/Eway" method="get" id="addform">
    <button type="submit" class="btn btn-primary" id="addbtn">
      ADD SERVICE
    </button>
  </form>
  <%}%>
</div>

<script>
  // Get modal elements
  var modal = document.querySelectorAll(".modal");
  var docbtn = document.querySelectorAll(".docbtn");
  var span = document.querySelectorAll(".close");
  var copy = document.querySelectorAll(".copyclass");
  var doc = document.querySelectorAll(".docclass");

  // Open the modal
  docbtn.forEach((b) => {
    b.addEventListener("mouseover", function () {
      var btn = document.getElementById(this.id);
      var modal1 = document.getElementById("mod" + this.id);
      var span1 = document.getElementById("close" + this.id);
      var copy1 = document.getElementById("copy" + this.id);
      var doc1 = document.getElementById("doc" + this.id);

      btn.onclick = function () {
        modal1.style.display = "block";
      };
      // Close the modal when the user clicks on <span> (x)
      span1.onclick = function () {
        modal1.style.display = "none";
        copy1.innerHTML = "<b>Copy</b>";
      };
      window.onclick = function (event) {
        if (event.target == modal1) {
          modal1.style.display = "none";
          copy1.innerHTML = "<b>Copy</b>";
        }
      };
      copy1.addEventListener("click", function () {
        copy1.innerHTML = "<b>Copied</b>";
        const content = doc1.innerText;
        navigator.clipboard.writeText(content);
      });
    });
  });

  //get Elements
  var cartbtn = document.querySelectorAll(".cartbtn");
  var nameClass = document.querySelectorAll(".nameClass");
  var priceClass = document.querySelectorAll(".priceClass");
  //Open Add to Cart
  cartbtn.forEach((c) => {
    c.addEventListener("mouseover", function () {
      var cartbtn1 = document.getElementById(this.id);
      var priceClass1 = document.getElementById("p" + this.id);
      var nameClass1 = document.getElementById("n" + this.id);
      cartbtn1.onclick = function () {
        let price = priceClass1.innerText;
        let name = nameClass1.innerText;
        window.location.href = `/cart?name=${encodeURIComponent(
          name
        )}&price=${encodeURIComponent(price)}`;
      };
    });
  });
</script>
